body{
    background-color: rgb(170, 219, 252);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#heading{
    text-align: center;
    margin: 1rem;
}

.container{
    border-bottom: 1px solid black;
}

.center{
    text-align: center;
}

ul.no-bullets{
    list-style-type: none;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}