body{
    background-color: rgb(170, 219, 252);
}

#heading{
    text-align: center;
}

.container{
    border: 1px solid orange;
}

.center{
    text-align: center;
}

ul.no-bullets{
    list-style-type: none;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}